<!DOCTYPE html>
<html>
<head>
    <title>Bild-Upload</title>
    <style>
        body {
            background-image: url('/static/background.jpg'); /* Passe den Pfad entsprechend an */
            background-size: cover;
            /* Weitere CSS-Stile für den Hintergrund hier einfügen */
        }
        .menu {
            list-style: none;
            padding: 0;
        }
        .menu li {
            display: inline;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>Bilder hochladen</h1>
    <ul class="menu">
        <li><a href="/slideshow">Bilder</a></li>
    </ul>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="images" accept="image/*" multiple>
        <input type="submit" value="Hochladen">
    </form>
</body>
</html>

